.conclave-body {
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
}

#speakers-content {
    z-index: -1;
    box-sizing: border-box;
    position: fixed;
    background: black;
    opacity: 0;
    width: 100%;
    min-height: 100vh;
    top: 0px;
  }
