.dra-bg {
    background: url(../../public/Images/DRA-bg.webp);
    background-size: cover;
    background-position: center;
    position: fixed;
    inset: 0px;
}
.dra-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.dra-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #00000070;
    backdrop-filter: blur(6px);
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.dra-container h2 {
    text-align: center;
    color: #241f1f;
    font-weight: 700;
}

.dra-container p{
    font-weight: bold;
    color: whitesmoke;
}

.dra-container .logo-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7.5rem;
}

.logo-container img{
    height: 100px;
    width: 100px;
}

#Gujsail{
    background: url(../../public/Images/Gujsail.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6.5rem;
    width: 6.5rem;
}
#GOG{
    background: url(../../public/Images/GOG.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6.5rem;
    width: 6.5rem;
    filter: invert(100%);
}
#IITGN{
    background: url(../../public/Images/IITGN-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6.5rem;
    width: 6.5rem;
}

.form-group {
    margin-bottom: 20px;
}

.dra-container label {
    display: block;
    font-weight: bold;
    color: whitesmoke;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

.dra-container button[type="submit"] {
    background-color: #241f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.dra-container button[type="submit"]:hover {
    background-color: #0a0909;
}

.dra-container .info {
    padding: 3px;
    color: whitesmoke;
}

.dra-container .organisers {
    padding: 2px;
    color: whitesmoke;
}