.events-body {
  width: 100%;
  height: 1600vh;
  background-color: black;
  position: absolute;
  z-index: -1;
}

#events-content {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  background: #00000000;
  width: 100%;
  height: 100vh;
}

#events-content:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(50deg, #e81cff 0%, #4073ff 100%);
  transform: scale(0.5);
  filter: blur(50px);
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: inherit;
  animation: rotate 30s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
#events-content::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.event-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  top: 120vh;
  bottom: -120vh;
}
.event-card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #20201e;
  display: flex;
  justify-content: center;
}
.event-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.event-card > span {
  border: 3px solid;
  box-shadow: 0 0 15px 3px;
  border-left: 0;
  border-top-left-radius: 20px;
  border-bottom: 0;
  position: absolute;
  border-top-right-radius: 20px;
  backdrop-filter: blur(6px);
  width: 50%;
  min-width: 400px;
  height: 10%;
  bottom: 0;
  /* left: 25%; */
  transition: all 1.25s cubic-bezier(0.62, 0, 0.33, 0.99);
}

/* .event-card > span:hover, .event-card > span:focus , .event-card > .span-focus{ */
.span-focus{
  height: 100%;
  /* left: 0%; */
  width: 100%;
}

.event-card-lock-hover{
  height: 100% !important;
  /* left: 0%; */
  width: 100% !important;
}

.event-card > span > i {
  height: 100px;
  width: 100px;
}


.events-text-holder {
  color: white;
  padding: 2rem;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.62, 0, 0.33, 0.99);
  width: 50%;
}
/* .event-card > span:hover > .content-placeholder > .events-text-holder , .event-card > .span-focus > .content-placeholder > .events-text-holder {
  transform: translateY(0);
} */

.events-text-holder-lock-hover {
  transform: translateY(0) !important;
}
.content-placeholder {
  display: flex;
  justify-content: center;
}
.events-buttons-holder {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  padding: 15px;
}
.events-buttons-holder button {
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: 550;
  padding: 7px 10px;
  transition: transform 0.5s;
}
.events-buttons-holder button:hover {
  /* transform: scale(1.05); */
  background: #e56617;
}

.content-iframe {
  display: block;
  z-index: 5;
  position: absolute;
  transition: all 2s;
  position: fixed;
  left: -100%;
}

.fullScreenIframe{
  position: fixed;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  z-index: 5;
}

.disable-left {
  transform: translate(-500%, -0%);
}

.disable-right {
  transform: translate(500%, -0%);
}

.content-title-0{
  font-size: 100%;
  top: 12.5%;
  left: 2.5%;
  display: block;
  color: wheat;
  z-index: 5;
  transition-delay: 0.5s;
  position: absolute;
  transition: 2s;
}
.content-iframe-0 {
  top: 50%;
  left: 2.5%;
}

.content-iframe-1 {
  top: 50%;
  left: 57.5%;
}

@media screen and (max-width: 600px) {
  .event-card-holder {
    /* height: 80vh; */
    border-radius: 15px;
  }
  .event-card {
    height: 90vh;
    width: 90vw;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
  }
  .event-card > img {
    height: max-content;
  }
  .event-card > span {
    flex-grow: 1;
    min-width: 0px;
    position: static;
    border-radius: 0px;
    border-right: none;
    width: 100%;
    height: 100%;
    border: 3px solid #e56617;
  }
  .events-text-holder {
    padding-top: 0.75rem;
    transform: translateY(0);
  }
  .events-text-holder > p {
    font-size: 0.9rem;
  }
  #hover-eq{
    display: none ;
  }
}

@media screen and (max-width: 600px) {
  .content-iframe {
    display: none !important  ;
  }
  .content-title-0{
    display: none;
  }
  .content{
    display: none !important;
  }

  .content-placeholder{
    width: 200%;
    display: block;
  }
  .events-buttons-holder{
    width: 100%;
  }
}
