.events-body {
  width: 100%;
  height: 1600vh;
  background-color: black;
  position: absolute;
  z-index: -1;
}

#events-content {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  background: #00000000;
  width: 100%;
  height: 100vh;
}

#events-content:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(50deg, #e81cff 0%, #4073ff 100%);
  transform: scale(0.5);
  filter: blur(50px);
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: inherit;
  animation: rotate 30s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
#events-content::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.event-card-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  top: 100vh;
  bottom: -100vh;
}
.event-card {
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 2rem;
  overflow: hidden;
}
.event-card > img {
  height: 95vh;
  width: 100%;
  object-fit: cover;
}
.event-card > span {
  border: 3px solid #e37430;
  box-shadow: 0 0 15px 3px #e37430;
  border-left: 0;
  border-bottom: 0;
  position: absolute;
  border-top-right-radius: 20px;
  background: #00000025;
  backdrop-filter: blur(6px);
  width: 30%;
  min-width: 400px;
  height: 10%;
  bottom: 0;
  left: 0;
  transition: height 1.25s cubic-bezier(0.62, 0, 0.33, 0.99);
}
.event-card > span:hover {
  height: 80%;
}
.event-card > span > i {
  height: 100px;
  width: 100px;
}
.events-text-holder {
  color: white;
  padding: 2rem;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.62, 0, 0.33, 0.99);
}
.event-card > span:hover > .events-text-holder {
  transform: translateY(0);
}
.events-buttons-holder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  padding: 15px;
}
.events-buttons-holder > button {
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: 550;
  padding: 7px 10px;
  background: #e37430;
  transition: transform 0.5s;
}
.events-buttons-holder > button:hover {
  /* transform: scale(1.05); */
  background: #e56617;
}

@media screen and (max-width: 600px) {
  #events-cards-holder {
    height: 80vh;
    border-radius: 15px;
  }
  .event-card {
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  .event-card > img {
    height: max-content;
  }
  .event-card > span {
    flex-grow: 1;
    min-width: 0px;
    position: static;
    border-radius: 0px;
    border-right: none;
    width: 100%;
    height: 100%;
  }
  .events-text-holder {
    padding-top: 0.75rem;
    transform: translateY(0);
  }
  .events-text-holder > p {
    font-size: 0.9rem;
  }
}
