#register-container {
  height: 100vh;
  background: #170036;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#register-card {
  min-width: 30vw;
  min-height: 50vh;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.361);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#register-card h6 {
  margin-top: -8px;
  color: rgba(255, 255, 255, 0.792);
}
#register-card.active {
  height: 70vh;
  min-width: 50vw;
  justify-content: flex-start;
  align-items: start;
}
#register-card.active button {
  color: white;
  padding: 5px;
  background: rgba(255, 255, 255, 0.258);
  border-radius: 5px;
  border: none;
}
#register-card.active button:hover {
  background: rgba(255, 255, 255, 0.328);
}

#register-card > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#register-card > form > input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
#register-card > form > button {
  color: white;
  width: 100%;
  max-width: 350px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.258);
  border-radius: 5px;
  border: none;
}
#register-card > form > button:hover {
  background: rgba(255, 255, 255, 0.328);
}

.register-content {
  flex-grow: 1;
  width: 100%;
}

.register-content input,
.register-content select {
  text-transform: capitalize;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.083);
  border: 0px;
  padding-left: 5px;
  text-transform: capitalize;
  box-sizing: border-box;
}
.register-content option {
  color: black;
}
input[type="email"] {
  text-transform: lowercase;
}
input[type="email"]::placeholder {
  text-transform: capitalize;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.register-content input:focus,
.register-content select:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.131);
  margin-bottom: -2px;
  border-bottom: rgba(255, 255, 255, 0.671) solid 2px;
}
.reg-info-row {
  border-radius: 5px;
  margin: 5px 0px;
  background-color: rgba(255, 255, 255, 0.036);
  font-size: 18px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
.robowars-team-table {
  border-radius: 5px;
  margin: 5px 0px;
  border: white solid 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* mozilla */
}
.robowars-team-table::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}
.robowars-team-table table {
  width: 100%;
}

.robowars-team-table th {
  padding: 5px;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  border-top: none;
}
.robowars-team-table input {
  width: 100%;
  min-width: 200px;
  border: rgba(255, 255, 255, 0.6) solid 1px;
}
@media screen and (max-width: 600px) {
  .reg-info-row {
    flex-direction: column;
  }
  #register-card.active {
    height: 90vh;
  }
}
