.spons-content {
  position: relative;
  top: 100vh;
}

.main {
  position: relative;
  padding: 90px;
}

.myheading {
  font-size: 40px;
  margin-bottom: 10px;
}

.main p {
  font-size: 16px;
  margin-bottom: 20px;
  /* Changed the color to light gray */
  color: #ccc;
  /* Added a color change effect for the paragraphs */
  transition: color 0.5s ease-in-out;
}

.main p:hover {
  color: rgb(200, 177, 233);
}

.sponsor-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.platinum-sponsor {
  border-bottom: 5px solid #e5e4e2;
}

.diamond-sponsor {
  border-bottom: 5px solid #4ee2ec;
}

.diamond-sponsor h5,
.gold-sponsor h5,
.req-adjust {
  padding-bottom: 40px;
  padding-top: 10px;
}
.gold-sponsor {
  border-bottom: 5px solid gold;
}

.silver-sponsor {
  border-bottom: 5px solid #c0c0c0;
}
.bronze-sponsor {
  border-bottom: 5px solid #CD7F32;
}

.event-partners {
  border-bottom: 5px solid #e75cd6;
}

.conclave-partners {
  border-bottom: 5px solid #e72a2a;
}

.past-sponsors {
  border-bottom: 5px solid #b0f719;
}

.sponsor-card {
  background-color: #2f4052;
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  /* Added a zoom-in effect for the sponsor cards */
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor-img {
  width: 100%;
  background-color: white;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-card h5 {
  color: white;
  font-weight: 600;
  font-style: italic;
  padding: 15px;
  font-size: 15px;
}

.sponsor-img img {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
}

.sponsor-card:hover {
  transform: scale(1.075);
}

.myheading {
  color: rgb(200, 177, 233);
  text-align: center;
}

/* CSS code for defining the keyframes of the animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Horizontal lines */
.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.glow {
  &:before,
  &:after {
    height: 6px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    border-radius: 5px;
  }

  &:before {
    background: linear-gradient(to right, blue, hotpink);
  }

  &:after {
    background: linear-gradient(to left, blue, hotpink);
  }
}

@media screen and (max-width: 600px) {
  .myheading {
    margin: auto;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 80%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.15rem;
  }

  #design-and-head {
    font-size: 0.95rem;
  }

  .sponsor-card {
    scale: 0.9;
  }

  .main {
    padding: 1%;
  }
}
