.symposium-body {
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
  }
  
  #symposium #speakers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: -1;
    box-sizing: border-box;
    position: fixed;
    background: black;
    opacity: 0;
    width: 100%;
    min-height: 100vh;
    top: 0px;
  }
  
  .team-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 400px;
  }
  
  #symposium #speakers-content > h1 {
    position: relative;
    font-size: 3rem;
  }
  #symposium #speakers-content > h1::before,
  #symposium #speakers-content > h1::after {
    content: "";
    display: block;
    width: 350px;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgba(23, 0, 54, 1) 0%,
      rgba(150, 33, 145, 1) 100%
    );
    left: -370px;
    top: 2.3rem;
    position: absolute;
  }
  #symposium #speakers-content > h1::after {
    background: linear-gradient(
      -90deg,
      rgba(23, 0, 54, 1) 0%,
      rgba(150, 33, 145, 1) 100%
    );
    left: unset;
    right: -370px;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team h2{
    color: black;
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
    padding-top: 3px;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .social li a img{
    height: 30px;
    width: 30px;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
  }
  
  .carousel-item img {
    width: 100vw;
  }
  