* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* Font */
.oswald{
  font-family: 'Oswald', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}