* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Font */
.oswald{
  font-family: 'Oswald', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}